.Notifications {
    position: relative;
    display: grid;
    grid-template-columns: 25rem auto 25rem;
    gap: 1rem;
    margin: auto;
    width: 90rem;
    padding: 1rem 1rem;
    overflow: auto;
    height: 100vh;
  }
  @media only screen and (min-width: 200px) {
    /* small screen: */
    .Notifications {
      display: block;
      width: 90%;
    }
  
    .LeftSide {
      display: none;
    }
    .Search > input {
      width: 70%;
    }
    .Search {
      width: 50%;
    }
    .App {
      overflow: auto;
    }
  
    .RightSide {
      display: none;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    /* normal screen: */
    .navbar {
      display: none;
    }
    .Notifications {
      display: grid;
      width: 64rem;
      padding: 1rem 1rem;
      grid-template-columns: 14rem auto 14rem;
    }
    .FollowersComponent {
      width: 80%;
      border-radius: 0.7rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      font-size: 13px;
    }
    .ProfileComponent {
      display: flex;
    }
  
    .LeftSide {
      display: flex;
    }
    .App {
      overflow: hidden;
    }
  
    .RightSide {
      display: flex;
    }
  }
  @media only screen and (min-width: 1440px) {
    /* 2k screen: */
    .Notifications {
      display: grid;
      width: 90rem;
      grid-template-columns: 25rem auto 25rem;
    }
    .FollowersComponent {
      width: 80%;
      border-radius: 0.7rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      font-size: 13px;
    }
    .ProfileComponent {
      display: flex;
    }
    .Search > input {
      width: 100%;
    }
    .Search {
      width: 70%;
    }
  }
  